// colors
$white: #fff;
$black: #000;
$darkGreen: #40483a;
$gren: #35660e;
$blue: #071594;
$red: #FF0000;
$grey: #362c2c63;

//fonts
$mainFont: 'Inter', sans-serif;
$secondaryFont: 'Lato', sans-serif;

//Breakpoints
$breakpoints: (
  'tablet': 768px,
  'desktop': 1024px,
  'largeDesktop': 1400px,
);
