@import '../../../styles/variables';

.Wrapper {
  &Label {
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
  }

  &Input {
    width: 100%;
    padding: 14px 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1.55px solid $black;
    background: white;

    &Error {
      border-color: $red;
    }
  }

  &Checkbox {
    margin: 10px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &CheckboxInput {
    display: none;
  }

  &CheckboxLabel {
    font-weight: 700;
    font-size: 14px;
    line-height: 30px;
    cursor: pointer;

    span {
      display: flex;
      align-items: center;
    }
  }

  &CheckboxInput[type='checkbox'] {
    & + ::before {
      content: '';
      display: inline-block;
      margin: 0 21px 0 0;
      vertical-align: bottom;
      width: 20px;
      height: 20px;
      border-radius: 10%;
      border: 2px solid $black;
    }
  }

  &CheckboxInputError[type='checkbox'] {
    @extend .WrapperCheckboxInput;
    + ::before {
      border-color: $red;
    }
  }

  &CheckboxInput[type='checkbox']:checked + ::before {
    display: flex;
    justify-content: center;
    align-items: center;
    content: '✓';
    color: white;
    text-align: center;
    background: $blue;
    border-color: $blue;
  }

  &ErrorMessage {
    height: 23px;

    padding: 0 0 0 40px;
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    line-height: 100%;

    color: $red;
    text-align: right;
  }
}
